.historyCard {
  margin: 2rem 4rem 2rem 4rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white;
  color: black;
  cursor: pointer;
}

.historyCard:hover {
  transform: scale(1.1);
  background-color: rebeccapurple;
  color: white;
}

.id {
  font-weight: 800;
  font-size: 1.4rem;
  text-align: center;
}

p {
  margin: 0 2rem;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 400;
  font-size: 1rem;
}
