.userBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.innerBox {
  width: 25%;
  border-width: 5px;
  border-color: red;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.row {
  justify-content: space-between;
  align-items: stretch;
}

.cell {
  display: table-cell;
  overflow: hidden;
  width: fit-content;
}

.editButton {
  width: 50%;
  height: 30px;
  padding: 2px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 25%;
}
